{% extends 'base.html' %}


{% block content %}

<style>
    body {
    background-color: #FFF8DC
    }
</style>

<div class="container">
    <p></p>
    <h3 class="text-center">Wyszukiwarka rejonów wspinaczkowych w Polsce</h3>
    <div class="card">
        <div class="card-body">
            <form method="GET" action="{% url 'szukaj' %}" class="mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <!-- First three forms go here -->
                        <div class="form-inline">
                            <label for="{{ form.nazwa.id_for_label }}">Nazwa:</label>
                            {{ form.nazwa }}
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="{{ form.rodzaj.id_for_label }}">Rodzaj:</label>
                            {{ form.rodzaj }}
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="{{ form.wysokosc_min.id_for_label }}">Wysokość:</label>
                            {{ form.wysokosc_min }}
                            {{ form.wysokosc_max }}
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="{{ form.wyceny.id_for_label }}">Wyceny:</label>
                            {{ form.wyceny }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label for="{{ form.ilosc_drog.id_for_label }}">Ilość dróg:</label>
                            {{ form.ilosc_drog }}
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="{{ form.skala.id_for_label }}">Rodzaj skały:</label>
                            {{ form.skala }}
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="{{ form.wiek_skal.id_for_label }}">Wiek skały:</label>
                            {{ form.wiek_skal }}
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="{{ form.skala.id_for_label }}">Facja:</label>
                            {{ form.facja }}
                        </div>
                    </div>
                </div>
                <!-- Place the buttons inside the main form -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Szukaj</button>
                    <a href="{% url 'szukaj' %}" class="btn btn-primary">Wróć</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Rodzaj</th>
                <th>Wysokość</th>
                <th>Wyceny</th>
                <th>Rodzaj skały</th>
                <th>Ilość dróg</th>
                <th>Wiek</th>
                <th>Facja</th>
            </tr>
        </thead>
        <tbody>
            {% for crag in crags %}
                <tr>
                    <td><a href="{% url 'miejsca' nazwa=crag.nazwa %}">{{ crag.nazwa }}</a></td>
                    <td>{{ crag.rodzaj }}</td>
                    <td>{{ crag.wysokosc }}</td>
                    <td>{{ crag.wyceny }}</td>
                    <td>{{ crag.skala }}</td>
                    <td>{{ crag.ilosc_drog }}</td>
                    <td>{{ crag.wiek_skaly }}</td>
                    <td>{{ crag.facja }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

