{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #FFF8DC;
    }
    .button-container {
        position:absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn_all {
        color:white;
        background-color: #385170;
        padding: 20px 40px;
        font-size: 20px;
    }

</style>
<div class="button-container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary btn_all" >
            <a class="nav-link nav-items-properties" href="{% url 'dodaj_site' %}">Dodaj stronę</a>
        </button>
        <button type="button" class="btn btn-secondary btn_all">
            <a class="nav-link nav-items-properties" href="{% url 'dodaj_movie' %}">Dodaj filmik</a>
        </button>
    </div>
</div>


{% endblock %}
